# **Process Mining y AI Agents basados en LLM y uso de Técnicas RAG para la optimización de procesos hospitalarios.**
## **Chatbot AI Event Log Generator**

**Autor**: Sergio Arias Ruiz  
**Área TFM**: Área 3  
**Fecha**: Mayo 2025  
**Repositorio**: [Github-AI Event Log Generator](https://github.com/sariasruiz/AIeventLogGenerator)  
**Universitat Oberta de Catalunya**

### **Verificación de carga y estructura dataset de control MIMICEL**

### **1. Proceso de Carga Dataset de Control MIMICEL**

Para la carga de datos, se utilizaron los scripts de la publicación [MIMICEL](https://physionet.org/content/mimicel-ed/2.1.0/).

**Base de datos utilizada:** PostgresSQL 16.8

Se siguieron los scripts oficiales de carga de datos en PostgresSQL.
[mimic-code-mimic-iv-ed](https://github.com/MIT-LCP/mimic-code/tree/main/mimic-iv-ed)

Realizada la carga, se procedió a verificar la estructura de las tablas y validar la carga.

### **1.1. Definición de funciones necesarias para verificar la Carga Dataset de Control MIMICEL**

In [48]:
import os
import pandas as pd
from sqlalchemy import create_engine, inspect, text
from typing import List

# Formato: postgresql://usuario:contraseña@host:puerto/basedatos
engine = create_engine("postgresql://mimic:mimic@localhost:5433/mimic")
inspector = inspect(engine)
schema = "module_ed"

# Obtenemos las tablas del esquema 'module_ed'
module_ed_tables_list = inspector.get_table_names(schema=schema)

# Obtenemos el número de tablas en el esquema 'module_ed'
module_ed_tables_count = len(module_ed_tables_list)

# Se imprimen tablas y número de tablas
print(module_ed_tables_list)
print(f"Total de tablas en el esquema 'module_ed': {module_ed_tables_count}")

# Se definen funciones para extraer información de PostgreSQL, para garantizar
# que todo esta listo para el experimento.
def get_table_summary(engine, table_list: List[str]) -> pd.DataFrame:
    """
    Dataframe con el resumen de las tablas: nombre y número de filas.
    """

    summary_data = []
    for table in table_list:
        query = f"SELECT COUNT(*) as row_count FROM {schema}.{table}"
        count = pd.read_sql(query, engine).iloc[0]['row_count']
        summary_data.append({
            'table_name': table,
            'row_count': count
        })

    return pd.DataFrame(summary_data)

def get_column_analysis(engine, inspector, table_name: str, schema: str, show_top_10: bool = False) -> pd.DataFrame:
    """
    Analiza las columnas de una tabla.
    Si show_top_10 es True, Mostramos prints de top 10.
    """
    # Obtención de columnas.
    columns = inspector.get_columns(table_name, schema=schema)
    
    # Información sobre claves primarias y foráneas
    pk_list = inspector.get_pk_constraint(table_name, schema=schema)
    fks_list = inspector.get_foreign_keys(table_name, schema=schema)
    
    column_analysis = []

    # Análisis de cada columna.
    for c in columns:
        # Información a calcular.
        col_info = {
            'column_name': c['name'],
            'type': str(c['type']),
            'nullable': c['nullable'],
            'is_pk': c['name'] in pk_list.get('constrained_columns', []),
            'is_fk': any(c['name'] in fk.get('constrained_columns', []) for fk in fks_list),
            'min': None,
            'max': None,
            'distinct_values': None,
            'most_frequent_value': None,
        }
        
        # Análisis de valores
        query = f"SELECT {c['name']} FROM {schema}.{table_name}"
        df_column_analysis = pd.read_sql(query, engine)
        
        # Si el tipo de dato es numérico, se calcula el mínimo y máximo.
        if pd.api.types.is_numeric_dtype(df_column_analysis[c['name']]):
            col_info['min'] = df_column_analysis[c['name']].min()
            col_info['max'] = df_column_analysis[c['name']].max()

        # Si el tipo de dato es string, se calcula el número de valores distintos y los 10 valores más frecuentes.
        elif pd.api.types.is_string_dtype(df_column_analysis[c['name']]):
            # Calculamos el número total valores distintos.
            value_counts = df_column_analysis[c['name']].value_counts()
            col_info['distinct_values'] = len(value_counts)

            if not value_counts.empty:
                 # Top 10 valores más frecuentes
                top_10 = value_counts.head(10)

                if show_top_10:
                    print("#"*25)
                    print(f"Top 10 valores de la columna `{c['name']}`:")
                    print(top_10)
                    print("#"*25)

                col_info['most_frequent_values'] = [
                    {'value': str(val), 'count': int(count)} 
                    for val, count in top_10.items()
                ]
            if value_counts.empty:
                print("No existen datos de tipo [texto]. No hay resumen auxiliar para mostrar.")
        # Si el tipo de dato es datetime, se calcula el mínimo y máximo.
        elif pd.api.types.is_datetime64_any_dtype(df_column_analysis[c['name']]):
            col_info['min'] = df_column_analysis[c['name']].min()
            col_info['max'] = df_column_analysis[c['name']].max()

        column_analysis.append(col_info)
    
    return pd.DataFrame(column_analysis)

['pyxis', 'edstays', 'diagnosis', 'medrecon', 'triage', 'vitalsign']
Total de tablas en el esquema 'module_ed': 6

### **1.2. Verificación de las tablas principales. (Módulo ED)**

In [49]:
# Mostramos el resumen de todas las tablas del modulo_ed cargadas en la base de datos mimic
get_table_summary(engine, module_ed_tables_list)

  table_name  row_count
0      pyxis    1586053
1    edstays     425087
2  diagnosis     899050
3   medrecon    2987342
4     triage     425087
5  vitalsign    1564610

### **1.3. Resumen tabla edstays (Módulo ED)**

In [50]:
# Para la tabla 'edstays' generamos resumen.
module_ed_analysis = get_column_analysis(engine, inspector, 'edstays', 'module_ed', show_top_10=True)

#########################
Top 10 valores de la columna `gender`:
gender
F    229898
M    195189
Name: count, dtype: int64
#########################
#########################
Top 10 valores de la columna `race`:
race
WHITE                             228123
BLACK/AFRICAN AMERICAN             76798
OTHER                              20752
HISPANIC/LATINO - PUERTO RICAN     14036
WHITE - OTHER EUROPEAN              8992
HISPANIC/LATINO - DOMINICAN         8330
BLACK/CAPE VERDEAN                  7638
ASIAN - CHINESE                     7348
ASIAN                               7294
UNKNOWN                             7083
Name: count, dtype: int64
#########################
#########################
Top 10 valores de la columna `arrival_transport`:
arrival_transport
WALK IN       251849
AMBULANCE     155752
UNKNOWN        15352
OTHER           1266
HELICOPTER       868
Name: count, dtype: int64
#########################
#########################
Top 10 valores de la columna `disposition`:
disposition
HOME                           241632
ADMITTED                       158010
TRANSFER                         7025
LEFT WITHOUT BEING SEEN          6155
ELOPED                           5710
OTHER                            4297
LEFT AGAINST MEDICAL ADVICE      1881
EXPIRED                           377
Name: count, dtype: int64
#########################

In [51]:
# DataFrame con la información de las columnas de la tabla 'edstays'
module_ed_analysis

,column_name,type,nullable,is_pk,is_fk,min,max,distinct_values,most_frequent_value,most_frequent_values
0,subject_id,INTEGER,False,False,False,10000032,19999987,NaN,None,NaN
1,hadm_id,INTEGER,True,False,False,20000019.0,29999809.0,NaN,None,NaN
2,stay_id,INTEGER,False,True,False,30000012,39999965,NaN,None,NaN
3,intime,TIMESTAMP,False,False,False,2110-01-11 01:45:00,2212-04-05 23:23:00,NaN,None,NaN
4,outtime,TIMESTAMP,False,False,False,2110-01-11 07:04:00,2212-04-06 14:20:00,NaN,None,NaN
5,gender,VARCHAR(1),False,False,False,None,None,2.0,None,"[{'value': 'F', 'count': 229898}, {'value': 'M..."
6,race,VARCHAR(60),True,False,False,None,None,33.0,None,"[{'value': 'WHITE', 'count': 228123}, {'value'..."
7,arrival_transport,VARCHAR(50),False,False,False,None,None,5.0,None,"[{'value': 'WALK IN', 'count': 251849}, {'valu..."
8,disposition,VARCHAR(255),True,False,False,None,None,8.0,None,"[{'value': 'HOME', 'count': 241632}, {'value':..."

### **1.4. Resumen tabla 'triage' (Módulo ED)**

In [52]:
# Para la tabla 'triage' generamos resumen
module_ed_triage = get_column_analysis(engine, inspector, 'triage', 'module_ed', show_top_10=True)

In [53]:
# Mostramos la información de las columnas de la tabla 'triage'
pd.DataFrame(module_ed_triage)

,column_name,type,nullable,is_pk,is_fk,min,max,distinct_values,most_frequent_value
0,subject_id,INTEGER,False,False,False,10000032.0,19999987.0,None,None
1,stay_id,INTEGER,False,True,True,30000012.0,39999965.0,None,None
2,temperature,NUMERIC,True,False,False,0.1,986.0,None,None
3,heartrate,NUMERIC,True,False,False,1.0,1228.0,None,None
4,resprate,NUMERIC,True,False,False,0.0,1820.0,None,None
5,o2sat,NUMERIC,True,False,False,0.0,9322.0,None,None
6,sbp,NUMERIC,True,False,False,1.0,151103.0,None,None
7,dbp,NUMERIC,True,False,False,0.0,661672.0,None,None
8,pain,TEXT,True,False,False,NaN,NaN,None,None
9,acuity,NUMERIC,True,False,False,1.0,5.0,None,None
10,chiefcomplaint,VARCHAR(255),True,False,False,NaN,NaN,None,None

### **1.5. Resumen tabla 'vitalsigns' (Módulo ED)**

In [54]:
# Para la tabla 'vitalsign' generamos resumen
module_ed_vitalsign = get_column_analysis(engine, inspector, 'vitalsign', 'module_ed', show_top_10=True)

In [55]:
# Para la tabla 'vitalsign' mostramos dataframe con la información de las columnas
pd.DataFrame(module_ed_vitalsign)

,column_name,type,nullable,is_pk,is_fk,min,max,distinct_values,most_frequent_value
0,subject_id,INTEGER,False,False,False,10000032,19999987,None,None
1,stay_id,INTEGER,False,True,True,30000012,39999964,None,None
2,charttime,TIMESTAMP,False,True,False,2110-01-11 01:49:00,2212-04-06 12:20:00,None,None
3,temperature,NUMERIC,True,False,False,0.0,989.0,None,None
4,heartrate,NUMERIC,True,False,False,0.0,1109.0,None,None
5,resprate,"NUMERIC(10, 4)",True,False,False,0.0,94452.0,None,None
6,o2sat,NUMERIC,True,False,False,0.0,9997.0,None,None
7,sbp,INTEGER,True,False,False,0.0,1234.0,None,None
8,dbp,INTEGER,True,False,False,0.0,97100.0,None,None
9,rhythm,TEXT,True,False,False,None,None,None,None
10,pain,TEXT,True,False,False,None,None,None,None

### **1.6. Resumen tabla 'medrecon' (Módulo ED)**

In [56]:
# Para la tabla 'medrecon' generamos resumen
module_ed_medrecon = get_column_analysis(engine, inspector, 'medrecon', 'module_ed', show_top_10=True)

# Si existen columnas de texto, se muestran los 10 valores más frecuentes.

#########################
Top 10 valores de la columna `name`:
name
aspirin                         105646
omeprazole                       55518
lisinopril                       48669
lorazepam                        41402
clonazepam                       40203
gabapentin                       36589
atorvastatin                     35618
cholecalciferol (vitamin D3)     33186
amlodipine                       32929
metoprolol succinate             31941
Name: count, dtype: int64
#########################
#########################
Top 10 valores de la columna `gsn`:
gsn
016995    82646
028090    44282
033530    42431
003009    36668
006373    36638
003757    34302
004380    31836
022159    29886
002532    25657
004560    25401
Name: count, dtype: int64
#########################
#########################
Top 10 valores de la columna `ndc`:
ndc
10135017301    82646
21695042308    44282
10544034130    42431
10135011101    36668
10585086504    36638
11845015001    34302
10135024036    31836
45802064287    29886
10003011602    25657
16590005828    25401
Name: count, dtype: int64
#########################

In [57]:
# Mostramos la información de las columnas de la tabla 'medrecon'
pd.DataFrame(module_ed_medrecon)

,column_name,type,nullable,is_pk,is_fk,min,max,distinct_values,most_frequent_value,most_frequent_values
0,subject_id,INTEGER,False,False,False,10000032,19999828,NaN,None,NaN
1,stay_id,INTEGER,False,False,True,30000012,39999964,NaN,None,NaN
2,charttime,TIMESTAMP,True,False,False,2110-01-11 10:51:00,2212-04-06 03:28:00,NaN,None,NaN
3,name,VARCHAR(255),True,False,False,None,None,18746.0,None,"[{'value': 'aspirin', 'count': 105646}, {'valu..."
4,gsn,VARCHAR(10),True,False,False,None,None,9179.0,None,"[{'value': '016995', 'count': 82646}, {'value'..."
5,ndc,VARCHAR(12),True,False,False,None,None,9313.0,None,"[{'value': '10135017301', 'count': 82646}, {'v..."
6,etc_rn,SMALLINT,True,False,False,1,5,NaN,None,NaN
7,etccode,VARCHAR(8),True,False,False,None,None,NaN,None,NaN
8,etcdescription,VARCHAR(255),True,False,False,None,None,NaN,None,NaN

### **1.7. Resumen tabla 'pyxis' (Módulo ED)**

In [58]:
# Mostramos resumen de la tabla 'pyxis'
module_ed_pyxis = get_column_analysis(engine, inspector, 'pyxis', 'module_ed', show_top_10=True)

# Si existen columnas de texto, se muestran los 10 valores más frecuentes.

#########################
Top 10 valores de la columna `name`:
name
Ondansetron                         84890
Acetaminophen                       45740
Lorazepam                           43798
Ondansetron 4mg/2mL 2mL VIAL        41162
Morphine Sulfate                    39854
HYDROmorphone (Dilaudid)            37616
Morphine                            29855
Vancomycin                          27226
Acetaminophen 500mg TAB             26746
Morphine Sulfat 4mg/1mL 1mL VIAL    26157
Name: count, dtype: int64
#########################

In [59]:
# Mostramos resumen información de las columnas de la tabla 'pyxis'
pd.DataFrame(module_pyxis)

NameError: name 'module_pyxis' is not defined

### **1.8. Resumen tabla 'pyxis' (Módulo ED)**

In [39]:
# Motramos la información de las columnas de la tabla 'diagnosis'
module_ed_diagnosis = get_column_analysis(engine, inspector, 'diagnosis', 'module_ed', show_top_10=True)

# Si hay columnas de texto, mostramos resulmen.

#########################
Top 10 valores de la columna `icd_code`:
icd_code
4019       26816
I10        21264
R079       13016
78650      12398
25000      12026
R109       10504
E119        8801
78909       8704
W1830XA     7817
E8889       7085
Name: count, dtype: int64
#########################
#########################
Top 10 valores de la columna `icd_title`:
icd_title
HYPERTENSION NOS                                      26816
Essential (primary) hypertension                      21264
Chest pain, unspecified                               13016
CHEST PAIN NOS                                        12398
DIABETES UNCOMPL ADULT                                12026
Unspecified abdominal pain                            10504
Type 2 diabetes mellitus without complications         8801
ABDOMINAL PAIN OTHER SPECIED                           8704
Fall on same level, unspecified, initial encounter     7817
UNSPECIFIED FALL                                       7081
Name: count, dtype: int64
#########################

In [40]:
# Mostramos dataframe con la información de las columnas de la tabla 'diagnosis'
pd.DataFrame(module_ed_diagnosis)

,column_name,type,nullable,is_pk,is_fk,min,max,distinct_values,most_frequent_value,most_frequent_values
0,subject_id,INTEGER,False,False,False,10000032.0,19999987.0,NaN,None,NaN
1,stay_id,INTEGER,False,True,True,30000012.0,39999965.0,NaN,None,NaN
2,seq_num,INTEGER,False,True,False,1.0,9.0,NaN,None,NaN
3,icd_code,VARCHAR(8),False,False,False,NaN,NaN,13199.0,None,"[{'value': '4019', 'count': 26816}, {'value': ..."
4,icd_version,SMALLINT,False,False,False,9.0,10.0,NaN,None,NaN
5,icd_title,TEXT,False,False,False,NaN,NaN,13172.0,None,"[{'value': 'HYPERTENSION NOS', 'count': 26816}..."

Carga verificada y comprensión de la estructura del módulo ED completado.

### **2. Generación del 'json' con el conocimiento estructural de la base de datos.**

Con la comprensión de la estructura de la tabla y la documentación oficial del [DOC MIMIC-IV Módulo ED](https://mimic.mit.edu/docs/iv/modules/ed/).

Se procedió a la generación de un json con estructura estándar para cualquier base de datos relacional, dejando campos para información descriptiva cualitativa.

Pese a que MIMIC-IV es un dataset anonimizado, por precaución y para garantizar que la información estructural del esquema cumplía con la política de uso del proveedor, normativa en materia de protección de datos y garantizar la privacidad del paciente, se procedió a la construcció semi manual del 'json' utilizado para el experimento.

**El json resultante para el experimento experimento fue:**

```json
{
  "last_updated": "2025-05-03T18:17:05",
  "module": {
    "id": "module_ed",
    "schema_db": "module_ed",
    "description": {
      "english": "The **ED module** contains data for emergency department patients collected while they are in the ED. Information includes reason for admission, triage assessment, vital signs, and medicine reconciliation. The `subject_id` and `hadm_id` identifiers allow emergency module to be linked to other corporative database modules.",
      "spanish": "El **módulo ED** contiene datos de pacientes del servicio de urgencias recopilados mientras se encuentran en el Servicio de Urgencias (ED). La información incluye el motivo de admisión, el nivel de triaje, los signos vitales y la conciliación de medicamentos. Los identificadores `subject_id` y `hadm_id` permiten vincular al módulo de urgencias con otros módulos de la base de datos corporativa."
    },
    "tables": [
      {
        "name": "pyxis",
        "definition": {
          "english": "The pyxis table provides information for medicine dispensations made via the Pyxis system. Note that as the same medication may have multiple gsn values, each row does not necessarily indicate a unique dispensation. The med_rn column allows for subselecting to individual dispensations.",
          "spanish": "La tabla pyxis provee información sobre las dispensaciones de medicamentos realizadas a través del sistema Pyxis. Tenga en cuenta que, dado que el mismo medicamento puede tener múltiples valores de gsn, cada fila no necesariamente indica una dispensación única. La columna med_rn permite seleccionar subgrupos de dispensaciones individuales."
        },
        "purpose": {
          "english": "Track medicine administrations.",
          "spanish": "Rastrear las administraciones de medicamentos."
        },
        "fields": [
          {
            "name": "subject_id",
            "type": "INTEGER",
            "nullable": false,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "subject_id is a unique identifier which specifies an individual patient. Any rows associated with a single subject_id pertain to the same individual.",
              "spanish": "subject_id es un identificador único que hace referencia a un paciente individual. Todas las filas asociadas a un único subject_id pertenecen al mismo individuo."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "N/A",
              "max": "N/A"
            }
          },
          {
            "name": "stay_id",
            "type": "INTEGER",
            "nullable": false,
            "is_pk": false,
            "is_fk": true,
            "description": {
              "english": "An identifier which uniquely identifies a single emergency department stay for a single patient.",
              "spanish": "Un identificador que identifica una única estancia en el servicio de urgencias para un paciente."
            },
            "link_to": [
              {
                "schema": "module_ed",
                "table": "edstays",
                "column": "stay_id"
              }
            ],
            "link_from": [],
            "range": {
              "min": "N/A",
              "max": "N/A"
            }
          },
          {
            "name": "charttime",
            "type": "TIMESTAMP",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The time at which the medication was charted, which is the closest approximation to the time the medication was administered.",
              "spanish": "La hora en la que se registró la medicación, que es la aproximación más cercana al momento en que se administró el medicamento."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "2110-01-11 05:21:00",
              "max": "2212-04-06 07:54:00"
            }
          },
          {
            "name": "med_rn",
            "type": "SMALLINT",
            "nullable": false,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "A row number for the medicine used to group single dispensations.",
              "spanish": "Un número de fila para el medicamento utilizado para agrupar dispensaciones individuales."
            },
            "link_to": [],
            "link_from": []
          },
          {
            "name": "name",
            "type": "VARCHAR(255)",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The name of the medicine.",
              "spanish": "El nombre del medicamento."
            },
            "link_to": [],
            "link_from": [],
            "distinct_values": [
              {
                "count": 1102
              }
            ],
            "most_frequent_values": [
              {
                "value": "Ondansetron",
                "count": 84890
              },
              {
                "value": "Acetaminophen",
                "count": 45740
              },
              {
                "value": "Lorazepam",
                "count": 43798
              },
              {
                "value": "Ondansetron 4mg/2mL 2mL VIAL",
                "count": 41162
              },
              {
                "value": "Morphine Sulfate",
                "count": 39854
              },
              {
                "value": "HYDROmorphone (Dilaudid)",
                "count": 37616
              },
              {
                "value": "Morphine",
                "count": 29855
              },
              {
                "value": "Vancomycin",
                "count": 27226
              },
              {
                "value": "Acetaminophen 500mg TAB",
                "count": 26746
              },
              {
                "value": "Morphine Sulfat 4mg/1mL 1mL VIAL",
                "count": 26157
              }
            ]
          },
          {
            "name": "gsn_rn",
            "type": "SMALLINT",
            "nullable": false,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "As a medicine may be a member of multiple groups in the GSN ontology, this row number differentiates them. The order of gsn_rn has no meaning.",
              "spanish": "Dado que un medicamento puede pertenecer a múltiples grupos en la ontología GSN, este número de fila los diferencia. El orden de gsn_rn no tiene significado."
            },
            "link_to": [],
            "link_from": []
          },
          {
            "name": "gsn",
            "type": "VARCHAR(10)",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The Generic Sequence Number (GSN), an ontology which provides a code for each medicine.",
              "spanish": "El Número de Secuencia Genérico (GSN), una ontología que proporciona un código para cada medicamento."
            },
            "link_to": [],
            "link_from": [],
            "distinct_values": [
              {
                "count": 704
              }
            ],
            "most_frequent_values": [
              {
                "value": "061716",
                "count": 63026
              },
              {
                "value": "015869",
                "count": 63026
              },
              {
                "value": "004490",
                "count": 60821
              },
              {
                "value": "062823",
                "count": 41957
              },
              {
                "value": "074851",
                "count": 34925
              },
              {
                "value": "004080",
                "count": 29855
              },
              {
                "value": "004225",
                "count": 27586
              },
              {
                "value": "003753",
                "count": 22952
              },
              {
                "value": "003755",
                "count": 22952
              },
              {
                "value": "078733",
                "count": 22952
              }
            ]
          }
        ]
      },
      {
        "name": "edstays",
        "definition": {
          "english": "The edstays table is the primary tracking table for emergency department visits. It provides the time the patient entered the emergency department and the time they left the emergency department.",
          "spanish": "La tabla edstays es la tabla principal de registro para las visitas al servicio de urgencias. Proporciona la hora en la que el paciente ingresó al servicio de urgencias y la hora en la que salió."
        },
        "purpose": {
          "english": "Track patient admissions to the emergency department.",
          "spanish": "Rastrear las admisiones de pacientes en el servicio de urgencias."
        },
        "fields": [
          {
            "name": "subject_id",
            "type": "INTEGER",
            "nullable": false,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "subject_id is a unique identifier which specifies an individual patient. Any rows associated with a single subject_id pertain to the same individual.",
              "spanish": "subject_id es un identificador único que especifica un paciente individual. Todas las filas asociadas a un único subject_id pertenecen al mismo individuo."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "N/A",
              "max": "N/A"
            }
          },
          {
            "name": "hadm_id",
            "type": "INTEGER",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "If the patient was admitted to the hospital after their ED stay, hadm_id will contain the hospital identifier (ranges from 2000000 to 2999999). The hadm_id may be used to link the ED stay with the hospitalization in corporative database. If hadm_id is NULL, the patient was not admitted to the hospital after their ED stay.",
              "spanish": "Si el paciente fue admitido en el hospital después de su estancia en urgencias, hadm_id contendrá el identificador del hospital (rango de 2000000 a 2999999). hadm_id puede usarse para vincular la estancia en urgencias con la hospitalización en la base de datos corporativa. Si hadm_id es NULL, el paciente no fue admitido en el hospital después de su estancia en urgencias."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "N/A",
              "max": "N/A"
            }
          },
          {
            "name": "stay_id",
            "type": "INTEGER",
            "nullable": false,
            "is_pk": true,
            "is_fk": false,
            "description": {
              "english": "An identifier which uniquely identifies a single emergency department stay for a single patient.",
              "spanish": "Un identificador que identifica de forma única una única estancia en el servicio de urgencias para un único paciente."
            },
            "link_to": [],
            "link_from": [
              {
                "schema": "module_ed",
                "table": "pyxis",
                "column": "stay_id"
              },
              {
                "schema": "module_ed",
                "table": "diagnosis",
                "column": "stay_id"
              },
              {
                "schema": "module_ed",
                "table": "medrecon",
                "column": "stay_id"
              },
              {
                "schema": "module_ed",
                "table": "triage",
                "column": "stay_id"
              },
              {
                "schema": "module_ed",
                "table": "vitalsign",
                "column": "stay_id"
              }
            ],
            "range": {
              "min": "N/A",
              "max": "N/A"
            }
          },
          {
            "name": "intime",
            "type": "TIMESTAMP",
            "nullable": false,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The admission datetime (intime) of the given emergency department stay.",
              "spanish": "La fecha y hora del ingreso (intime) de la estancia en el servicio de urgencias."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "2110-01-11 01:45:00",
              "max": "2212-04-05 23:23:00"
            }
          },
          {
            "name": "outtime",
            "type": "TIMESTAMP",
            "nullable": false,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The discharge datetime (outtime) of the given emergency department stay.",
              "spanish": "La fecha y hora de egreso (outtime) de la estancia en el servicio de urgencias."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "2110-01-11 07:04:00",
              "max": "2212-04-06 14:20:00"
            }
          },
          {
            "name": "gender",
            "type": "VARCHAR(1)",
            "nullable": false,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The patient’s administrative gender as documented in the hospital system.",
              "spanish": "El género administrativo del paciente según consta en los registros del sistema hospitalario."
            },
            "link_to": [],
            "link_from": [],
            "distinct_values": [
              {
                "count": 2
              }
            ],
            "most_frequent_values": [
              {
                "value": "F",
                "count": 229898
              },
              {
                "value": "M",
                "count": 195189
              }
            ]
          },
          {
            "name": "race",
            "type": "VARCHAR(60)",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The patient’s self-reported race. Race is aggregated into higher level categories for very small groups. As of corporative database v2.1, there were 33 unique categories for race.",
              "spanish": "La raza autoinformada del paciente. La raza se agrupa en categorías de nivel superior para grupos muy pequeños. A partir de la base de datos corporativa v2.1, había 33 categorías únicas para la raza."
            },
            "link_to": [],
            "link_from": [],
            "distinct_values": [
              {
                "count": 33
              }
            ],
            "most_frequent_values": [
              {
                "value": "WHITE",
                "count": 228123
              },
              {
                "value": "BLACK/AFRICAN AMERICAN",
                "count": 76798
              },
              {
                "value": "OTHER",
                "count": 20752
              },
              {
                "value": "HISPANIC/LATINO - PUERTO RICAN",
                "count": 14036
              },
              {
                "value": "WHITE - OTHER EUROPEAN",
                "count": 8992
              },
              {
                "value": "HISPANIC/LATINO - DOMINICAN",
                "count": 8330
              },
              {
                "value": "BLACK/CAPE VERDEAN",
                "count": 7638
              },
              {
                "value": "ASIAN - CHINESE",
                "count": 7348
              },
              {
                "value": "ASIAN",
                "count": 7294
              },
              {
                "value": "UNKNOWN",
                "count": 7083
              }
            ]
          },
          {
            "name": "arrival_transport",
            "type": "VARCHAR(50)",
            "nullable": false,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The method through which the individual arrived at the ED. Possible entries include: WALK IN, AMBULANCE, UNKNOWN, OTHER, HELICOPTER.",
              "spanish": "El método a través del cual el paciente llegó al servicio de urgencias. Las entradas posibles incluyen: WALK IN, AMBULANCE, UNKNOWN, OTHER, HELICOPTER."
            },
            "link_to": [],
            "link_from": [],
            "distinct_values": [
              {
                "count": 5
              }
            ],
            "most_frequent_values": [
              {
                "value": "WALK IN",
                "count": 251849
              },
              {
                "value": "AMBULANCE",
                "count": 155752
              },
              {
                "value": "UNKNOWN",
                "count": 15352
              },
              {
                "value": "OTHER",
                "count": 1266
              },
              {
                "value": "HELICOPTER",
                "count": 868
              }
            ]
          },
          {
            "name": "disposition",
            "type": "VARCHAR(255)",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The method through which the individual left the ED. Possible non-null methods include: HOME, ADMITTED, TRANSFER, LEFT WITHOUT BEING SEEN, OTHER, LEFT AGAINST MEDICAL ADVICE, ELOPED, EXPIRED.",
              "spanish": "El método a través del cual el individuo salió del servicio de urgencias. Las posibles opciones, excluyendo valores nulos, incluyen: HOME, ADMITTED, TRANSFER, LEFT WITHOUT BEING SEEN, OTHER, LEFT AGAINST MEDICAL ADVICE, ELOPED, EXPIRED."
            },
            "link_to": [],
            "link_from": [],
            "distinct_values": [
              {
                "count": 8
              }
            ],
            "most_frequent_values": [
              {
                "value": "HOME",
                "count": 241632
              },
              {
                "value": "ADMITTED",
                "count": 158010
              },
              {
                "value": "TRANSFER",
                "count": 7025
              },
              {
                "value": "LEFT WITHOUT BEING SEEN",
                "count": 6155
              },
              {
                "value": "ELOPED",
                "count": 5710
              },
              {
                "value": "OTHER",
                "count": 4297
              },
              {
                "value": "LEFT AGAINST MEDICAL ADVICE",
                "count": 1881
              },
              {
                "value": "EXPIRED",
                "count": 377
              }
            ]
          }
        ]
      },
      {
        "name": "diagnosis",
        "definition": {
          "english": "The diagnosis table provides billed diagnoses for patients. Diagnoses are determined after discharge from the emergency department.",
          "spanish": "La tabla diagnosis provee diagnósticos facturados para los pacientes. Los diagnósticos se determinan después del alta del servicio de urgencias."
        },
        "purpose": {
          "english": "Track patient admissions to the emergency department.",
          "spanish": "Rastrear las admisiones de pacientes en el servicio de urgencias."
        },
        "fields": [
          {
            "name": "subject_id",
            "type": "INTEGER",
            "nullable": false,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "subject_id is a unique identifier which specifies an individual patient. Any rows associated with a single subject_id pertain to the same individual.",
              "spanish": "subject_id es un identificador único que hace referencia a un paciente individual. Todas las filas asociadas a un único subject_id pertenecen al mismo individuo."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "N/A",
              "max": "N/A"
            }
          },
          {
            "name": "stay_id",
            "type": "INTEGER",
            "nullable": false,
            "is_pk": true,
            "is_fk": true,
            "description": {
              "english": "An identifier which uniquely identifies a single emergency department stay for a single patient.",
              "spanish": "Un identificador que identifica de forma única una única estancia en el servicio de urgencias para un paciente."
            },
            "link_to": [
              {
                "schema": "module_ed",
                "table": "edstays",
                "column": "stay_id"
              }
            ],
            "link_from": [],
            "range": {
              "min": "N/A",
              "max": "N/A"
            }
          },
          {
            "name": "seq_num",
            "type": "INTEGER",
            "nullable": false,
            "is_pk": true,
            "is_fk": false,
            "description": {
              "english": "A pseudo-priority for the diagnosis. A seq_num of 1 usually indicates a “primary” diagnosis, but accurately assessing the priority for patients with multiple diagnoses is challenging.",
              "spanish": "Una pseudo-prioridad para el diagnóstico. Un seq_num de 1 normalmente indica el diagnóstico principal."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "1",
              "max": "9"
            }
          },
          {
            "name": "icd_code",
            "type": "VARCHAR(8)",
            "nullable": false,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "A coded diagnosis using the International Classification of Diseases (ICD) ontology.",
              "spanish": "Un diagnóstico codificado utilizando la Clasificación Internacional de Enfermedades (ICD)."
            },
            "link_to": [],
            "link_from": [],
            "distinct_values": [
              {
                "count": 13199
              }
            ],
            "most_frequent_values": [
              {
                "value": "4019",
                "count": 26816
              },
              {
                "value": "I10",
                "count": 21264
              },
              {
                "value": "R079",
                "count": 13016
              },
              {
                "value": "78650",
                "count": 12398
              },
              {
                "value": "25000",
                "count": 12026
              },
              {
                "value": "R109",
                "count": 10504
              },
              {
                "value": "E119",
                "count": 8801
              },
              {
                "value": "78909",
                "count": 8704
              },
              {
                "value": "W1830XA",
                "count": 7817
              },
              {
                "value": "E8889",
                "count": 7085
              }
            ]
          },
          {
            "name": "icd_version",
            "type": "SMALLINT",
            "nullable": false,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The version of the ICD system used; either 9 indicating ICD-9 or 10 indicating ICD-10. The ontologies for these two systems differ, and therefore the meaning of the icd_code will depend on the icd_version.",
              "spanish": "La versión del sistema ICD utilizado; puede ser 9, que indica ICD-9, o 10, que indica ICD-10. El significado de icd_code dependerá de icd_version."
            },
            "link_to": [],
            "link_from": []
          },
          {
            "name": "icd_title",
            "type": "VARCHAR",
            "nullable": false,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The textual description of the diagnosis.",
              "spanish": "La descripción textual del diagnóstico."
            },
            "link_to": [],
            "link_from": [],
            "distinct_values": [
              {
                "count": 13172
              }
            ],
            "most_frequent_values": [
              {
                "value": "HYPERTENSION NOS",
                "count": 26816
              },
              {
                "value": "Essential (primary) hypertension",
                "count": 21264
              },
              {
                "value": "Chest pain, unspecified",
                "count": 13016
              },
              {
                "value": "CHEST PAIN NOS",
                "count": 12398
              },
              {
                "value": "DIABETES UNCOMPL ADULT",
                "count": 12026
              },
              {
                "value": "Unspecified abdominal pain",
                "count": 10504
              },
              {
                "value": "Type 2 diabetes mellitus without complications",
                "count": 8801
              },
              {
                "value": "ABDOMINAL PAIN OTHER SPECIED",
                "count": 8704
              },
              {
                "value": "Fall on same level, unspecified, initial encounter",
                "count": 7817
              },
              {
                "value": "UNSPECIFIED FALL",
                "count": 7081
              }
            ]
          }
        ]
      },
      {
        "name": "medrecon",
        "definition": {
          "english": "On admission to the emergency departments, staff will ask the patient what current medications they are taking. This process is called medicine reconciliation, and the medrecon table stores the findings of the care providers.",
          "spanish": "Al ingresar a los servicios de urgencias, el personal sanitario pregunta al paciente qué medicamentos está tomando actualmente. Este proceso se llama conciliación de medicamentos, y la tabla medrecon almacena los hallazgos de los profesoniales de la salud."
        },
        "purpose": {
          "english": "Document medications a patient is currently taking.",
          "spanish": "Documentar los medicamentos que un paciente está tomando actualmente."
        },
        "fields": [
          {
            "name": "subject_id",
            "type": "INTEGER",
            "nullable": false,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "subject_id is a unique identifier which specifies an individual patient. Any rows associated with a single subject_id pertain to the same individual.",
              "spanish": "subject_id es un identificador único que hace referencia a un paciente individual. Todas las filas asociadas a un único subject_id pertenecen al mismo individuo."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "N/A",
              "max": "N/A"
            }
          },
          {
            "name": "stay_id",
            "type": "INTEGER",
            "nullable": false,
            "is_pk": false,
            "is_fk": true,
            "description": {
              "english": "An identifier which uniquely identifies a single emergency department stay for a single patient.",
              "spanish": "Un identificador que identifica una única estancia en el servicio de urgencias para un paciente."
            },
            "link_to": [
              {
                "schema": "module_ed",
                "table": "edstays",
                "column": "stay_id"
              }
            ],
            "link_from": [],
            "range": {
              "min": "N/A",
              "max": "N/A"
            }
          },
          {
            "name": "charttime",
            "type": "TIMESTAMP",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The time at which the medicine reconciliation was charted.",
              "spanish": "La hora en la que se registró la conciliación de medicamentos."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "2110-01-11 10:51:00",
              "max": "2212-04-06 03:28:00"
            }
          },
          {
            "name": "name",
            "type": "VARCHAR(255)",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The name of the medication.",
              "spanish": "El nombre del medicamento."
            },
            "link_to": [],
            "link_from": [],
            "distinct_values": [
              {
                "count": 18746
              }
            ],
            "most_frequent_values": [
              {
                "value": "aspirin",
                "count": 105646
              },
              {
                "value": "omeprazole",
                "count": 55518
              },
              {
                "value": "lisinopril",
                "count": 48669
              },
              {
                "value": "lorazepam",
                "count": 41402
              },
              {
                "value": "clonazepam",
                "count": 40203
              },
              {
                "value": "gabapentin",
                "count": 36589
              },
              {
                "value": "atorvastatin",
                "count": 35618
              },
              {
                "value": "cholecalciferol (vitamin D3)",
                "count": 33186
              },
              {
                "value": "amlodipine",
                "count": 32929
              },
              {
                "value": "metoprolol succinate",
                "count": 31941
              }
            ]
          },
          {
            "name": "gsn",
            "type": "VARCHAR(10)",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The Generic Sequence Number (GSN), an ontology for the medication.",
              "spanish": "El Número de Secuencia Genérico (GSN), una ontología para el medicamento."
            },
            "link_to": [],
            "link_from": [],
            "distinct_values": [
              {
                "count": 9179
              }
            ],
            "most_frequent_values": [
              {
                "value": "016995",
                "count": 82646
              },
              {
                "value": "028090",
                "count": 44282
              },
              {
                "value": "033530",
                "count": 42431
              },
              {
                "value": "003009",
                "count": 36668
              },
              {
                "value": "006373",
                "count": 36638
              },
              {
                "value": "003757",
                "count": 34302
              },
              {
                "value": "004380",
                "count": 31836
              },
              {
                "value": "022159",
                "count": 29886
              },
              {
                "value": "002532",
                "count": 25657
              },
              {
                "value": "004560",
                "count": 25401
              }
            ]
          },
          {
            "name": "ndc",
            "type": "VARCHAR(12)",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The National Drug Code (ndc) for the medication.",
              "spanish": "El Código Nacional de Medicamentos (NDC) para el medicamento."
            },
            "link_to": [],
            "link_from": [],
            "distinct_values": [
              {
                "count": 9313
              }
            ],
            "most_frequent_values": [
              {
                "value": "10135017301",
                "count": 82646
              },
              {
                "value": "21695042308",
                "count": 44282
              },
              {
                "value": "10544034130",
                "count": 42431
              },
              {
                "value": "10135011101",
                "count": 36668
              },
              {
                "value": "10585086504",
                "count": 36638
              },
              {
                "value": "11845015001",
                "count": 34302
              },
              {
                "value": "10135024036",
                "count": 31836
              },
              {
                "value": "45802064287",
                "count": 29886
              },
              {
                "value": "10003011602",
                "count": 25657
              },
              {
                "value": "16590005828",
                "count": 25401
              }
            ]
          },
          {
            "name": "etc_rn",
            "type": "SMALLINT",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "Medications are grouped using a hierarchical ontology known as the Enhanced Therapeutic Class (ETC). As more than one group may be associated with the medication, a sequential integer (etc_rn) was generated to differentiate the groups. There is no meaning to the order of etc_rn.",
              "spanish": "Los medicamentos se agrupan utilizando una ontología jerárquica conocida como la Enhanced Therapeutic Class (ETC). Dado que se puede asociar más de un grupo al medicamento, se generó un número entero secuencial (etc_rn) para diferenciar los grupos. No tiene un significado inherente el orden de etc_rn."
            },
            "link_to": [],
            "link_from": []
          },
          {
            "name": "etccode",
            "type": "VARCHAR(8)",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "etccode provides the code of the group within the Enhanced Therapeutic Class (ETC).",
              "spanish": "etccode proporciona el código del grupo dentro de la Enhanced Therapeutic Class (ETC)."
            },
            "link_to": [],
            "link_from": [],
            "distinct_values": [
              {
                "count": 1201
              }
            ],
            "most_frequent_values": [
              {
                "value": "00002747",
                "count": 102285
              },
              {
                "value": "00000445",
                "count": 93308
              },
              {
                "value": "00000575",
                "count": 87881
              },
              {
                "value": "00005843",
                "count": 87178
              },
              {
                "value": "00000670",
                "count": 69988
              },
              {
                "value": "00002530",
                "count": 68528
              },
              {
                "value": "00006615",
                "count": 63188
              },
              {
                "value": "00000523",
                "count": 61048
              },
              {
                "value": "00000583",
                "count": 60904
              },
              {
                "value": "00000530",
                "count": 58271
              }
            ]
          },
          {
            "name": "etcdescription",
            "type": "VARCHAR(255)",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "etcdescription provides the description of the group within the Enhanced Therapeutic Class (ETC).",
              "spanish": "etcdescription proporciona la descripción del grupo dentro de la Enhanced Therapeutic Class (ETC)."
            },
            "link_to": [],
            "link_from": [],
            "distinct_values": [
              {
                "count": 1205
              }
            ],
            "most_frequent_values": [
              {
                "value": "Antihyperlipidemic - HMG CoA Reductase Inhibitors (statins)",
                "count": 102285
              },
              {
                "value": "Gastric Acid Secretion Reducing Agents - Proton Pump Inhibitors (PPIs)",
                "count": 93308
              },
              {
                "value": "Salicylate Analgesics",
                "count": 87881
              },
              {
                "value": "Platelet Aggregation Inhibitors - Salicylates",
                "count": 87178
              },
              {
                "value": "Vitamins - D Derivatives",
                "count": 69988
              },
              {
                "value": "Beta Blockers Cardiac Selective",
                "count": 68528
              },
              {
                "value": "Benzodiazepines",
                "count": 63188
              },
              {
                "value": "Antianxiety Agent - Benzodiazepines",
                "count": 61048
              },
              {
                "value": "Analgesic Opioid Agonists",
                "count": 60904
              },
              {
                "value": "Antidepressant - Selective Serotonin Reuptake Inhibitors (SSRIs)",
                "count": 58271
              }
            ]
          }
        ]
      },
      {
        "name": "triage",
        "definition": {
          "english": "The triage table contains information about the patient when they were first triaged in the emergency department. Patients are assessed at triage by a single care provider and asked a series of questions to assess their current health status. Their vital signs are measured and a level of acuity is assigned. Based on the level of acuity, the patient either waits in the waiting room for later attention, or is prioritized for immediate care. All fields in triage were originally free-text. For deidentification purposes, the vital sign and pain fields were converted into a numeric value. As a result, a small number of NULL values were introduced for text entries.",
          "spanish": "La tabla triage contiene información sobre el paciente cuando fue evaluado por primera vez a su llegada al servicio de urgencias. Los pacientes son evaluados en triaje por un único profesional sanitario y se les realizan una serie de preguntas para evaluar su estado de salud actual. Se miden sus signos vitales y se asigna un nivel de prioridad (nivel de triaje). En función del nivel de triaje, el paciente espera en la sala de espera hasta recibir atención sanitaria o se le da atención inmediata. Todos los campos en triage fueron originalmente de texto libre. Por razones de desidentificación, los campos de signos vitales y dolor se convirtieron en valores numéricos, lo que introdujo un pequeño número de valores NULL en las entradas de texto."
        },
        "purpose": {
          "english": "Store information collected on triage to the emergency department. This table does not include timestamps. If temporal data needs to be imputed, it should be calculated using the intime field from the edstays table as a reference, using the formula: (intime + 1 second).",
          "spanish": "Almacena la información recopilada durante el triaje en el servicio de urgencias. Esta tabla no dispone de `timestamps`. Si se necesita imputar `timestamps`, su cálculo debe hacerse tomando como referencia el campo `intime` ubicado enla tabla `edstays` mediante el cálculo: (`intime` + 1 segundo.)"
        },
        "fields": [
          {
            "name": "subject_id",
            "type": "INTEGER",
            "nullable": false,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "subject_id is a unique identifier which specifies an individual patient. Any rows associated with a single subject_id pertain to the same individual.",
              "spanish": "subject_id es un identificador único que hace referencia a un paciente individual. Todas las filas asociadas a un único subject_id pertenecen al mismo individuo."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "N/A",
              "max": "N/A"
            }
          },
          {
            "name": "stay_id",
            "type": "INTEGER",
            "nullable": false,
            "is_pk": true,
            "is_fk": true,
            "description": {
              "english": "An identifier which uniquely identifies a single emergency department stay for a single patient.",
              "spanish": "Un identificador que identifica una única estancia en el servicio de urgencias para un paciente."
            },
            "link_to": [
              {
                "schema": "module_ed",
                "table": "edstays",
                "column": "stay_id"
              }
            ],
            "link_from": [],
            "range": {
              "min": "N/A",
              "max": "N/A"
            }
          },
          {
            "name": "temperature",
            "type": "NUMERIC",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The patient’s temperature in degrees Farenheit. Some temperatures may be incorrectly documented as Celsius.",
              "spanish": "La temperatura del paciente, por defecto está en grados Fahrenheit. Algunas temperaturas pueden estar incorrectamente regisradas en Celsius."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "0.1000",
              "max": "986.0000"
            }
          },
          {
            "name": "heartrate",
            "type": "NUMERIC",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The patient’s heart rate in beats per minute.",
              "spanish": "La frecuencia cardíaca del paciente en latidos por minuto."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "1.0000",
              "max": "1228.0000"
            }
          },
          {
            "name": "resprate",
            "type": "NUMERIC",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The patient’s respiratory rate in breaths per minute.",
              "spanish": "La frecuencia respiratoria del paciente en respiraciones por minuto."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "0.0000",
              "max": "1820.0000"
            }
          },
          {
            "name": "o2sat",
            "type": "NUMERIC",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The patient’s peripheral oxygen saturation as a percentage.",
              "spanish": "La saturación periférica de oxígeno del paciente como porcentaje."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "0.0000",
              "max": "9322.0000"
            }
          },
          {
            "name": "sbp",
            "type": "NUMERIC",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The patient’s systolic blood pressure, measured in millimetres of mercury (mmHg).",
              "spanish": "La presión arterial sistólica del paciente, medida en milímetros de mercurio (mmHg)."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "1.0000",
              "max": "151103.0000"
            }
          },
          {
            "name": "dbp",
            "type": "NUMERIC",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The patient’s diastolic blood pressure, measured in millimetres of mercury (mmHg).",
              "spanish": "La presión arterial diastólica del paciente, medida en milímetros de mercurio (mmHg)."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "0.0000",
              "max": "661672.0000"
            }
          },
          {
            "name": "pain",
            "type": "VARCHAR",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The level of pain self-reported by the patient, on a scale of 0-10.",
              "spanish": "El nivel de dolor auto reportado por el paciente, en una escala de 0 a 10."
            },
            "link_to": [],
            "link_from": [],
            "distinct_values": [
              {
                "count": 850
              }
            ],
            "most_frequent_values": [
              {
                "value": "0",
                "count": 140719
              },
              {
                "value": "8",
                "count": 41730
              },
              {
                "value": "10",
                "count": 40914
              },
              {
                "value": "7",
                "count": 31423
              },
              {
                "value": "5",
                "count": 29210
              },
              {
                "value": "6",
                "count": 25206
              },
              {
                "value": "9",
                "count": 20210
              },
              {
                "value": "4",
                "count": 19721
              },
              {
                "value": "3",
                "count": 16115
              },
              {
                "value": "2",
                "count": 13903
              }
            ]
          },
          {
            "name": "acuity",
            "type": "NUMERIC",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "An order of priority based upon acuity utilizing the Emergency Severity Index (ESI) Five Level triage system. This priority is assigned by a registered nurse. Level 1 is the highest priority, while level 5 is the lowest priority.",
              "spanish": "Un orden de prioridad basado en el nivel de triaje utilizando el sistema de cinco niveles del Índice de Severidad de Emergencias (ESI). Esta prioridad es asignada por un profesional de enfermería. El nivel 1 es la mayor prioridad o gravedad, mientras que el nivel 5 es la menor prioridad o gravedad."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "1.0000",
              "max": "5.0000"
            }
          },
          {
            "name": "chiefcomplaint",
            "type": "VARCHAR(255)",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "A deidentified free-text description of the patient’s chief complaint.",
              "spanish": "Una descripción de texto libre desidentificada de la queja principal del paciente."
            },
            "link_to": [],
            "link_from": [],
            "distinct_values": [
              {
                "count": 60407
              }
            ],
            "most_frequent_values": [
              {
                "value": "N/A",
                "count": 0
              }
            ]
          }
        ]
      },
      {
        "name": "vitalsign",
        "definition": {
          "english": "Patients admitted to the emergency department have routine vital signs taken every 1-4 hours. These vital signs are stored in the vitalsign table.",
          "spanish": "A los pacientes ingresados en el servicio de urgencias, se les toman los signos vitales de manera rutinaria cada 1-4 horas. Estos signos vitales se almacenan en la tabla vitalsign."
        },
        "purpose": {
          "english": "Provides nurse documented vital signs.",
          "spanish": "Proporciona los signos vitales registrados por el personal de enfermería."
        },
        "fields": [
          {
            "name": "subject_id",
            "type": "INTEGER",
            "nullable": false,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "`subject_id` is a unique identifier which specifies an individual patient. Any rows associated with a single `subject_id` pertain to the same individual.",
              "spanish": "`subject_id` es un identificador único que especifica a un paciente individual. Todas las filas asociadas a un único `subject_id` pertenecen al mismo individuo."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "N/A",
              "max": "N/A"
            }
          },
          {
            "name": "stay_id",
            "type": "INTEGER",
            "nullable": false,
            "is_pk": true,
            "is_fk": true,
            "description": {
              "english": "An identifier which uniquely identifies a single emergency department stay for a single patient.",
              "spanish": "Un identificador que identifica de forma única una única estancia en el servicio de urgencias para un paciente."
            },
            "link_to": [
              {
                "schema": "module_ed",
                "table": "edstays",
                "column": "stay_id"
              }
            ],
            "link_from": [],
            "range": {
              "min": "N/A",
              "max": "N/A"
            }
          },
          {
            "name": "charttime",
            "type": "TIMESTAMP",
            "nullable": false,
            "is_pk": true,
            "is_fk": false,
            "description": {
              "english": "The time at which the vital signs were charted.",
              "spanish": "La hora en la que se registraron los signos vitales."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "2110-01-11 01:49:00",
              "max": "2212-04-06 12:20:00"
            }
          },
          {
            "name": "temperature",
            "type": "NUMERIC",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The patient's temperature in degrees Farenheit. Some temperatures may be incorrectly documented as Celsius.",
              "spanish": "La temperatura del paciente en grados Fahrenheit. Algunas temperaturas pueden estar incorrectamente documentadas en Celsius."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "0.0000",
              "max": "989.0000"
            }
          },
          {
            "name": "heartrate",
            "type": "NUMERIC",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The patient's heart rate in beats per minute.",
              "spanish": "La frecuencia cardíaca del paciente en latidos por minuto."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "0.0000",
              "max": "1109.0000"
            }
          },
          {
            "name": "resprate",
            "type": "NUMERIC(10,4)",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The patient's respiratory rate in breaths per minute.",
              "spanish": "La frecuencia respiratoria del paciente en respiraciones por minuto."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "0.0000",
              "max": "94452.0000"
            }
          },
          {
            "name": "o2sat",
            "type": "NUMERIC",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The patient's oxygen saturation measured as a percentage.",
              "spanish": "La saturación de oxígeno del paciente medida como un porcentaje."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "0.0000",
              "max": "9997.0000"
            }
          },
          {
            "name": "sbp",
            "type": "INTEGER",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The patient's systolic blood pressure measured in millimetres of mercury (mmHg).",
              "spanish": "La presión arterial sistólica del paciente medida en milímetros de mercurio (mmHg)."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "0",
              "max": "1234"
            }
          },
          {
            "name": "dbp",
            "type": "INTEGER",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The patient's diastolic blood pressure measured in millimetres of mercury (mmHg).",
              "spanish": "La presión arterial diastólica del paciente medida en milímetros de mercurio (mmHg)."
            },
            "link_to": [],
            "link_from": [],
            "range": {
              "min": "0",
              "max": "97100"
            }
          },
          {
            "name": "rhythm",
            "type": "VARCHAR",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The patient's heart rhythm.",
              "spanish": "El ritmo cardíaco del paciente."
            },
            "link_to": [],
            "link_from": [],
            "distinct_values": [
              {
                "count": 1171
              }
            ],
            "most_frequent_values": [
              {
                "value": "Sinus Rhythm",
                "count": 18894
              },
              {
                "value": "Normal Sinus Rhythm",
                "count": 12316
              },
              {
                "value": "Atrial Fibrillation",
                "count": 5238
              },
              {
                "value": "Sinus Tachycardia",
                "count": 5133
              },
              {
                "value": "Sinus Bradycardia",
                "count": 3246
              },
              {
                "value": "sr",
                "count": 3020
              },
              {
                "value": "Paced Rhythm",
                "count": 1777
              },
              {
                "value": "nsr",
                "count": 1175
              },
              {
                "value": "SR",
                "count": 1040
              },
              {
                "value": "afib",
                "count": 870
              }
            ]
          },
          {
            "name": "pain",
            "type": "VARCHAR",
            "nullable": true,
            "is_pk": false,
            "is_fk": false,
            "description": {
              "english": "The patient's self-reported level of pain on a scale from 0-10. The pain is documented as free-text and may contain non-numeric entries.",
              "spanish": "El nivel de dolor auto reportado por el paciente en una escala de 0 a 10. El dolor se documenta como texto libre y puede contener entradas no numéricas."
            },
            "link_to": [],
            "link_from": [],
            "distinct_values": [
              {
                "count": 3144
              }
            ],
            "most_frequent_values": [
              {
                "value": "0",
                "count": 560092
              },
              {
                "value": "5",
                "count": 62116
              },
              {
                "value": "8",
                "count": 57789
              },
              {
                "value": "4",
                "count": 51170
              },
              {
                "value": "2",
                "count": 48236
              },
              {
                "value": "7",
                "count": 46546
              },
              {
                "value": "6",
                "count": 46274
              },
              {
                "value": "3",
                "count": 44930
              },
              {
                "value": "10",
                "count": 42841
              },
              {
                "value": "9",
                "count": 24075
              }
            ]
          }
        ]
      }
    ]
  }
}
```